<div class="row">
  <nav class="col-lg-2 sidebar navbar-collapse offcanvas-collapse">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item h5">
          <a class="nav-link" href="/c">Dashboard</a>
        </li>
      </ul>
    </div>
  </nav>

  <main role="main" class="ml-sm-auto col-lg-10 px-lg-4 no-gutter">
    <div class="main-container container-fluid pl-md-5 pr-md-5">
      <%= yield %>
    </div>
  </main>
</div>
