<%= render layout: "pages/student_menu" do %>
  <div class="container vh-100">
    <h1 class="border-bottom mb-3">Seja bem vindo <%= @student.name %></h1>

    <%= render 'student/form', student: @student %>
  </div>
<% end %>
