<%= render layout: "pages/company_menu" do %>
  <div class="container">
    <h1>Profissionais</h1>

    <div class="list-group">
      <% @jobs_joined.each do |jj| %>
        <div class="row">
          <div class="col-8">
            <div class="font-weight-bold">
              <%=
              binding.pry
              jj[:student].name %>
            </div>

            <div>
              <%= jj[:job].title %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
